              /*********/
             /* Global*/
            /*********/


html, body {
    height: 100%;
}

body {
	background: #eaeaea;
    font-family: 'Roboto','Modernsans','Geosans','Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
}

#global {
	background: #FFFFFF;
    min-height: 100%;
    width: 70%;
    margin: auto;    /* Permet de centrer la div */
    text-align: justify;
    padding: 5px 20px;
}

#contenu {
    margin-bottom : 30px;
}

a{
	text-decoration: none;
	color: #2e2e2e;
}

#titreBlog, #piedBlog {
    text-align: center;
}
h1 {
    color: #2c2c2c;
}
h3{
	text-decoration: underline;
}

button{
	cursor: pointer;
}
.buttonsub{
	background: 87a4b9;
	margin: 15px;
	padding: 3px;
    border-radius: 4px;
}

              /*********/
             /* Header*/
            /*********/

#titreBlog{
	font-family: 'Olivia', 'Wyntex', 'Thuressia';
	font-size: 3em;
}

#menu ul{
    display: flex;
    flex-direction: row;
	justify-content: center;
    list-style-type:none;
    margin: 0;
    padding: 0;
}
#menu li{
    font-size: 1.5em;
    width: auto;
    margin: 0px;
    padding: 0 50px;
}

/****Slide*****/

#slide{
	width: 100%;
	margin: 5% 0;
}
#slide figure, #slide figure img {
	position: relative;
    width: 100%;
    margin: 0 auto;
}
#slide figcaption{
	position : absolute;
	color: white;
	background: rgba(0,0,0,0.3);
	border-radius: 5px;
	top: 40%;
	margin-left: 35%;
	padding: 0px 20px;
}

              /*********/
             /* Footer*/
            /*********/
#piedBlog{
	margin-top: 10%;
}

#socialmedia{
display: flex;
flex-direction: row;
justify-content: center;
list-style-type: none;
margin: 0;
padding: 0;
}

#socialmedia li{
	width: auto;
	margin: 0;
	padding: 0 10px;
}

#connexion{
	margin: 3%;
}

              /***********/
             /* Articles*/
            /***********/


.titreBillet {
    margin-bottom : 8px;
}

time{
	font-size: 0.9em;
}

#auteur {
	margin: 10px 0;
}

/**** Commentaires ****/

#titreReponses {
    font-size : 100%;
}
#txtCommentaire {
    max-width: 500px; /* Délimite la zone de l'espace commentaire */
    min-width: 500px;
    max-height: 100px;
    min-height: 100px;
	font-family: sans-serif;
}
#submitCom{
	background: #dcdcdc;
	border-radius: 4px;
	margin-top: 10px;
}
              /********/
             /* Admin*/
            /********/
			
/**** Connexion ****/
#formConnect{
	text-align: center;
	margin: 12%;
}
/**** Bouttons ****/
#menuAdmin{
	text-align: center;
}
.buttonMenu{
	background: white;
	border-bottom: none;
	font-size: 20px;
}
/**** Modification chapitres ****/
.liste{
	display: flex;
    justify-content: space-between;
}

.buttonEdit{
	background: none;
	border: none;
	color: #5b7e97;
}
.buttonDelete{
	background: none;
	border: none;
	color: #ff0000;
}


/**** Création de chapitres ****/
#formChap{
	background-color: #f1f1f1;
}
#titleChapter{
	margin: 15px;
	padding: 5px;
}
div.tox.tox-tinymce{
	margin: 15px;
}

              /**********/
             /* Polices*/
            /**********/


@font-face{
	font-family: 'Olivia';
	src: url(../Fonts/Olivia_Dhorgent.ttf);
}
@font-family{
	font-family: 'Wyntex';
	src: url(../Fonts/Wyntex_Brasco.ttf);
}
@font-face{
	font-family: 'Thuressia';
	src: url(../Fonts/Thuressia.ttf),
		 url(../Fonts/Thuressia.otf);
}
@font-face{
	font-family: 'Geosans';
	src: url(../Fonts/GeosansLight.ttf);
}
@font-face{
	font-family: 'Roboto';
	src: url(../Fonts/Roboto-Light.ttf);
}
@font-face{
	font-family: 'Modernsans';
	src: url(../Fonts/ModernSans-Light.otf);
}