              /*********/
             /* Global*/
            /*********/


html, body {
    height: 100%;
}

body {
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
}

#global {
    min-height: 100%;
    width: 70%;
    margin: auto;    /* Permet de centrer la div */
    text-align: justify;
    padding: 5px 20px;
}

#contenu {
    margin-bottom : 30px;
}

a{
	text-decoration: none;
	color: #2e2e2e;
}

#titreBlog, #piedBlog {
    text-align: center;
}

              /*********/
             /* Header*/
            /*********/

h1 {
    color: #5d5d5d;
}

#menu ul{
    display: flex;
    flex-direction: row;
	justify-content: center;
    list-style-type:none;
    margin: 0;
    padding: 0;
}
#menu li{
    font-size: 1.5em;
    width: auto;
    margin: 0px;
    padding: 0 50px;
}

#slide{
	width: 100%;
}
#slide figure, #slide figure img {
    width: 100%;
    margin: 0 auto;
}
#slide figcaption{
	position : absolute;
	color: white;
	background: rgba(0,0,0,0.5);
	border-radius: 5px;
	top: 25%;
	margin-left: 25%;
	padding: 0px 20px;
}

              /***********/
             /* Articles*/
            /***********/


.titreBillet {
    margin-bottom : 0px;
}

#titreReponses {
    font-size : 100%;
}

#txtCommentaire {
    width: 50%;
}